.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    height: 20rem;
    width: 20rem;
    border: 0.15rem solid black;
}

.cell {
    background-color: white;
    border: black 0.15rem solid;
    display: flex;
    justify-content: center;
    align-items: center;
}


.valid {
    background-color: green;
}

.invalid {
    background-color: red;
}

.containsShip {
    background-color: purple;
}

.containsShip.invalid {
    background-color: #953553;
}

.dot {
    height: .5rem;
    width: 0.5rem;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

.miss {
    background-color: black;
}

.hit {
    background-color: red;
}